#chapter-heading{
  background-color: "grey";
  padding: 1rem;
  font-size: 6rem;
  font-family: "Brush Script MT";
}

.Uberschriften{
  font-family: "Arial";
  font-size: 3rem;
}

.Haupttext{
  padding: 0.2rem;
  max-width: 80rem;
  font-family: "Arial";
}

#introtext{
  padding: 0.2rem;
  max-width: 50rem;
  font-family: "Arial";
}

.container {
  width: 97%; /* Breite des Containers */ 
  height: 48rem; /* Höhe des Containers */ 
  background-image: url('img/Screenshot 2024-12-17 143506.png'); /* Hintergrundbild */ 
  background-size: 76rem; /* Größe des Hintergrundbilds anpassen */ 
  display: grid; 
  grid-template-columns: repeat(6, 1fr); /* 6 Spalten */ 
  grid-template-rows: repeat(4, 1fr); /* 4 Reihen */ 
  gap: 0.7rem; /* Abstand zwischen den Bildern */ 
  padding: 1rem;
}  

.container button {
  position: relative; 
  width: 11rem; 
  height: 11rem;
  background-color: transparent;
  border: 0.1rem solid black; /* Rahmen hinzufügen */
  color: black; /* Textfarbe */
  font-size: 10rem; /* Schriftgröße */
  font-family: "Brush Script MT";
  text-align: center; /* Textausrichtung */
  cursor: pointer;  
}

.container img {
  display: none; /* Bilder standardmäßig ausblenden */
  width: 11rem; 
  height: auto;
  margin: 0rem;
}

#colorchange-button{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: xx-large;
}

 /* Standard-Hover-Effekt */
 .container button:hover {
  background: linear-gradient(90deg, rgba(13, 8, 86, 0), rgba(87, 10, 131, 0.349));
  color: black;
}

/* Klasse, um den Hover-Effekt zu deaktivieren */
.no-hover {
  background-color: gray; /* Farbe nach Deaktivierung */
  color: transparent; /* Text unsichtbar */
  cursor: default; /* Kein Hover-Cursor */
  pointer-events: none; /* Deaktiviert Hover-Ereignisse */
}

#penguin{
  position: absolute; /* Absolut positionieren */
      top: 0rem;          /* Abstand vom oberen Rand */
      left: 55rem;        /* Abstand vom linken Rand */
      transform: scale(1); /* Optional: weitere Skalierung */
 
}

.star {
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.8); /* Leuchtender Effekt */
}

body{
  background-color: grey;
  color:white;
  padding: 1rem;
}